.thumbnails {
  margin-bottom: 0;
}
.thumbnail {
  padding: 0;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}
.thumbnail h1,
.thumbnail h2,
.thumbnail h3,
.thumbnail h4,
.thumbnail h5,
.thumbnail h6 {
  text-transform: none;
}
.thumbnails > li {
  margin-bottom: 20px;
}
.thumbnails .thumbnails > li {
  margin-bottom: 0;
}
.thumbnail > img {
  margin-left: 0;
  margin-right: 0;
}
a.thumbnail:hover {
  border-color: transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}
.thumbnail .caption {
  padding: 0;
}
@media (min-width: 1281px) {
  .thumbnails > li {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .thumbnails {
    margin-bottom: 20px;
    border-bottom: 1px solid #bbbbbb;
  }
  .thumbnails > li {
    width: 100%;
    margin: 0;
    padding: 30px 0 15px;
    float: none;
    border-top: 1px solid #bbbbbb;
  }
  .thumbnails > li:first-child {
    padding-top: 0;
    border-top: none;
  }
}
.lt-ie8 .thumbnails {
  margin-left: 0;
}
.lt-ie8 .thumbnails > li:first-child,
.lt-ie8 .thumbnails > .limpiar {
  margin-left: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font: 400 14px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
header {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  overflow: hidden;
  display: block;
  z-index: 1;
}
h1 {
  text-indent: -9999px;
  background: url("../imgs/logo.png") 0 0 no-repeat;
  width: 130px;
  height: 65px;
  margin: 0;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  overflow: hidden;
  display: block;
  float: left;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  z-index: 3;
}
.controls {
  padding: 10px 10px;
  color: #000;
}
label {
  font-weight: 300;
  margin: 0 .4em 0 0;
}
button {
  display: inline-block;
  padding: .4em .8em;
  background: #666;
  border: 0;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
}
button.active {
  background: #e7d800;
  color: #000;
}
button:focus {
  outline: 0 none;
}
button + label {
  margin-left: 1em;
}
.slider-container {
  text-align: left;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
  padding-top: 4px;
  padding-bottom: 9px;
  max-height: 160px;
  width: 100%;
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3);
}
.slider-container .slider-item {
  width: 150px;
  height: 150px;
  max-height: 160px;
  display: none;
  padding: 1px;
  position: relative;
  white-space: normal;
}
.slider-container .slider-item.active .caption {
  padding-bottom: 15px;
}
.slider-container .slider-item.active .overlay {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background: rgba(230, 214, 0, 0.95);
}
.slider-container .slider-item.active .titulo {
  font-family: 'PFDinTextPro-Bold', sans-serif;
  color: #333333;
}
.slider-container .slider-item.active .fechas {
  color: #333333;
  display: block;
}
.slider-container .slider-item .imagen {
  position: relative;
  display: block;
}
.slider-container .slider-item .imagen:hover .caption {
  padding-bottom: 15px;
}
.slider-container .slider-item .imagen:hover .overlay {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background: rgba(230, 214, 0, 0.95);
}
.slider-container .slider-item .imagen:hover .titulo {
  font-family: 'PFDinTextPro-Bold', sans-serif;
  color: #333333;
}
.slider-container .slider-item .imagen:hover .fechas {
  color: #333333;
  display: block;
}
.slider-container .slider-item .imagen img {
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}
.slider-container .slider-item .caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  padding: 0 10px 5px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.slider-container .slider-item .titulo {
  margin-bottom: 5px;
  font-family: 'PFDinTextPro-Regular', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: #ffffff;
}
.slider-container .slider-item .fechas {
  display: none;
  margin-bottom: 0;
  font-family: 'PFDinTextPro-Regular', sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 14px;
  color: #ffffff;
}
.slider-container .slider-item .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: -webkit-gradient(linear, left 20%, left 100%, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.9)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0.9) 100%);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0.9) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0.9) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#e6000000', GradientType=0);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.snap-close {
  color: #000;
  float: right;
  padding-right: 10px;
  line-height: 18px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
.snap-drawer-right,
.snap-drawer-left {
  background-color: #ffffff;
}
.exposicionThumbnail {
  padding: 10px;
}
.exposicionThumbnail h2 {
  font: 400 20px/20px 'PFDinTextPro-Bold', sans-serif;
  margin: 0 0 5px 0;
  border-bottom: 3px solid #333333;
}
.exposicionThumbnail h3 {
  font: 400 18px/18px 'PFDinTextPro-Bold', sans-serif;
  margin: 15px 0 0 0;
}
.exposicionThumbnail a {
  color: #9a7f4a;
  text-decoration: none;
}
.exposicionThumbnail a:hover {
  color: #665431;
  text-decoration: underline;
}
.exposicionThumbnail .fecha-lugar {
  margin-bottom: 5px;
  font: 400 18px/18px 'PFDinTextPro-Thin', sans-serif;
}
.exposicionThumbnail .label {
  font-weight: bold;
}
.exposicionThumbnail .img-responsive {
  max-width: 100%;
}
.exposicionThumbnail .itinerancia {
  margin-top: 5px;
  padding: 5px;
}
.exposicionThumbnail .itinerancia.active {
  background-color: #bbbbbb;
  font-weight: bold;
}
#compartir {
  position: fixed;
  left: -320px;
  -webkit-transition: left 0.8s ease;
  transition: left 0.8s ease;
  top: 200px;
  background-color: #ffffff;
}
#compartir.open {
  left: 0;
  -webkit-transition: left 0.8s ease;
  transition: left 0.8s ease;
}
#compartir ul.share-buttons {
  width: 380px;
  margin: 0;
  display: inline-block;
}
#compartir ul.share-buttons li {
  margin: 0 0 5px 0;
  display: inline-block;
  float: left;
}
#compartir ul.share-buttons li {
  margin: 0;
}
#compartir ul.share-buttons li.facebook {
  min-width: 120px;
}
