* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: 'PFDinTextPro-Light', sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #9a7f4a;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #665431;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.428571429;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: normal;
  line-height: 1.1;
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
p {
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}
small,
.small {
  font-size: 85%;
}
cite {
  font-style: normal;
}
mark,
.mark {
  background-color: #fcf8e3;
  padding: .2em;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-muted {
  color: #777777;
}
.text-primary {
  color: #e7d800;
}
a.text-primary:hover {
  color: #b4a800;
}
.text-success {
  color: #3c763d;
}
a.text-success:hover {
  color: #2b542c;
}
.text-info {
  color: #31708f;
}
a.text-info:hover {
  color: #245269;
}
.text-warning {
  color: #8a6d3b;
}
a.text-warning:hover {
  color: #66512c;
}
.text-danger {
  color: #a94442;
}
a.text-danger:hover {
  color: #843534;
}
.bg-primary {
  color: #fff;
  background-color: #e7d800;
}
a.bg-primary:hover {
  background-color: #b4a800;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover {
  background-color: #e4b9b9;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 1.428571429;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777777;
}
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.428571429;
  color: #777777;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right;
}
.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
  content: '';
}
.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}
blockquote:before,
blockquote:after {
  content: "";
}
address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.428571429;
}
.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.428571429;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.thumbnail > img,
.thumbnail a > img {
  margin-left: auto;
  margin-right: auto;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #9a7f4a;
}
.thumbnail .caption {
  padding: 9px;
  color: #333333;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #ffffff;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-default {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #1a1a1a;
  border-color: #141414;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #333333;
  border-color: #333333;
}
.btn-default .badge {
  color: #333333;
  background-color: #ffffff;
}
.btn-primary {
  color: #ffffff;
  background-color: #e7d800;
  border-color: #cec000;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #b4a800;
  border-color: #908700;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #e7d800;
  border-color: #cec000;
}
.btn-primary .badge {
  color: #e7d800;
  background-color: #ffffff;
}
.btn-success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success .badge {
  color: #5cb85c;
  background-color: #ffffff;
}
.btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info .badge {
  color: #5bc0de;
  background-color: #ffffff;
}
.btn-warning {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning .badge {
  color: #f0ad4e;
  background-color: #ffffff;
}
.btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger .badge {
  color: #d9534f;
  background-color: #ffffff;
}
.btn-link {
  color: #9a7f4a;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #665431;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777777;
  text-decoration: none;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.hide {
  display: none;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#branding {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 1;
  background-color: #262626;
  -webkit-transition: left 0.8s ease;
  -o-transition: left 0.8s ease;
  transition: left 0.8s ease;
}
#branding.closed {
  left: -170px;
  -webkit-transition: left 0.8s ease;
  -o-transition: left 0.8s ease;
  transition: left 0.8s ease;
}
#branding.closed .btn_cerrar_info {
  background-image: url("../imgs/bk.flecha-abrir-white-right.png");
}
#branding .logo-menu {
  padding: 20px 20px 0;
  background-color: #262626;
  position: relative;
  z-index: 3;
}
#branding h1 {
  text-indent: -9999px;
  background: url("../imgs/logo.png") 0 0 no-repeat;
  width: 130px;
  height: 65px;
  margin-bottom: 50px;
}
#branding h2 {
  margin: 0 0 10px;
  font-family: 'PFDinTextPro-Regular', sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #eeeeee;
}
#branding #menu {
  margin: 0 -20px;
}
#branding #menu li:last-child a {
  border-bottom: none;
}
#branding #menu li a {
  padding: 10px 20px;
  display: block;
  border-bottom: 1px solid #222222;
  color: #c8c8c8;
  background-position: -24px 12px;
  background-repeat: no-repeat;
  background-color: #333333;
  -webkit-transition: background-color 0.7s ease, color 0.7s ease, background-position 0.5s ease;
  transition: background-color 0.7s ease, color 0.7s ease, background-position 0.5s ease;
}
#branding #menu li a.btn_info {
  background-image: url("../imgs/bk.flecha-abrir-right.png");
}
#branding #menu li a.btn_share {
  background-image: url("../imgs/bk.flecha-abrir-bottom.png");
}
#branding #menu li a:hover {
  color: #333333;
  background-color: #fff;
  background-position: 134px 12px;
  text-decoration: none;
}
#branding #menu li a.active {
  color: #333333;
  background-color: #fff;
  background-image: url("../imgs/bk.aspa-cerrar.png");
  background-position: 134px 12px;
}
#branding .btn_cerrar_info {
  width: 30px;
  height: 40px;
  display: block;
  position: absolute;
  top: 151px;
  right: -30px;
  background-image: url("../imgs/bk.flecha-abrir-white-left.png");
  background-position: 6px 12px;
  background-repeat: no-repeat;
  background-color: #262626;
  z-index: 10;
  -webkit-transition: background-position 0.3s ease;
  -o-transition: background-position 0.3s ease;
  transition: background-position 0.3s ease;
}
#branding .btn_cerrar_info:hover {
  background-position: 0 12px;
  text-decoration: none;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding-left: 3px;
  overflow: hidden;
  display: block;
  float: left;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  z-index: 3;
  background-color: #fff;
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: bottom 0.8s ease;
  -o-transition: bottom 0.8s ease;
  transition: bottom 0.8s ease;
}
footer.hide {
  bottom: -225px;
  -webkit-transition: bottom 0.8s ease;
  -o-transition: bottom 0.8s ease;
  transition: bottom 0.8s ease;
}
.controls {
  padding-top: 13px;
  padding-left: 10px;
  padding-bottom: 10px;
  color: #000;
}
label {
  font-weight: 300;
  margin: 0 .4em 0 0;
}
button {
  display: inline-block;
  padding: 5px 10px 3px;
  background: #eee;
  border: 0;
  color: #555555;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
}
button:focus {
  outline: 0 none;
}
button:hover {
  background-color: #333333;
  color: #eee;
}
button.active {
  background: #e7d800;
  color: #000;
}
button + label {
  margin-left: 1em;
}
.slider-container {
  text-align: left;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
  padding-top: 4px;
  padding-bottom: 9px;
  max-height: 160px;
  width: 100%;
}
.slider-container .slider-item {
  width: 150px;
  height: 150px;
  display: none;
  padding: 0;
  margin-right: 2px;
  position: relative;
  white-space: normal;
  border-radius: 0;
  border: none;
  background-color: #222;
}
.slider-container .slider-item.active .caption {
  padding-bottom: 15px;
}
.slider-container .slider-item.active .overlay {
  background: rgba(230, 214, 0, 0.95);
}
.slider-container .slider-item.active .titulo {
  font-family: 'PFDinTextPro-Bold', sans-serif;
  color: #333333;
}
.slider-container .slider-item.active .fechas {
  color: #333333;
  display: block;
}
.slider-container .slider-item .imagen:hover .caption {
  padding-bottom: 15px;
}
.slider-container .slider-item .imagen:hover .overlay {
  background: rgba(230, 214, 0, 0.95);
}
.slider-container .slider-item .imagen:hover .titulo {
  font-family: 'PFDinTextPro-Bold', sans-serif;
  color: #333333;
}
.slider-container .slider-item .imagen:hover .fechas {
  color: #333333;
  display: block;
}
.slider-container .slider-item .imagen .gradient-image {
  position: relative;
}
.slider-container .slider-item .imagen .gradient-image .gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 10;
  background-image: -webkit-linear-gradient(top, rgba(34, 34, 34, 0.2) 40%, #222222 100%);
  background-image: -o-linear-gradient(top, rgba(34, 34, 34, 0.2) 40%, #222222 100%);
  background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0.2) 40%, #222222 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33222222', endColorstr='#ff222222', GradientType=0);
}
.slider-container .slider-item .imagen img {
  display: block;
  max-width: 150px;
  max-height: 150px;
  margin: 0 auto;
}
.slider-container .slider-item .caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  padding: 0 10px 5px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.slider-container .slider-item .titulo {
  margin-bottom: 5px;
  font-family: 'PFDinTextPro-Regular', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
  color: #fff;
}
.slider-container .slider-item .fechas {
  display: none;
  margin-bottom: 0;
  font-family: 'PFDinTextPro-Regular', sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 14px;
  color: #fff;
}
.slider-container .slider-item .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.snap-close {
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: url("../imgs/bk.aspa-cerrar.png") 0 0 no-repeat;
}
.snap-drawers {
  background-color: #fff;
}
.snap-drawer {
  padding: 30px 15px;
  width: 320px;
}
.snap-drawer h2 {
  margin-top: 0;
  font-family: 'PFDinTextPro-Bold', sans-serif;
  font-size: 22px;
  line-height: 1;
}
.exposicionThumbnail h2 {
  margin-bottom: 7px;
  padding-bottom: 5px;
  border-bottom: 3px solid #333333;
}
.exposicionThumbnail .fecha-lugar {
  margin-bottom: 15px;
  font-family: 'PFDinTextPro-Thin', sans-serif;
  font-size: 17px;
  line-height: 1.1;
}
.exposicionThumbnail .img-responsive {
  max-width: 100%;
  margin-bottom: 15px;
}
.exposicionThumbnail .datos-exposicion {
  margin-bottom: 30px;
}
.exposicionThumbnail .datos-exposicion .btn-block {
  margin-top: 10px;
}
.exposicionThumbnail .label {
  font-family: 'PFDinTextPro-Bold', sans-serif;
}
.exposicionThumbnail h3 {
  margin: 0 0 10px 0;
  font-family: 'PFDinTextPro-Thin', sans-serif;
  font-size: 20px;
  line-height: 1;
}
.exposicionThumbnail .itinerancia {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.exposicionThumbnail .itinerancia:first-child {
  border-top: 1px solid #ddd;
}
.exposicionThumbnail .itinerancia:last-child {
  margin-bottom: 30px;
}
.exposicionThumbnail .itinerancia.active {
  background-color: #f0f0f0;
}
.exposicionThumbnail .itinerancia-nombre {
  margin-bottom: 3px;
  font-family: 'PFDinTextPro-Regular', sans-serif;
  line-height: 1.2;
}
.exposicionThumbnail .itinerancia-lugar {
  line-height: 1.3;
  color: #777777;
}
#compartir {
  width: 170px;
  padding: 10px 20px 20px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: #fff;
  -webkit-transition: top 0.8s ease;
  -o-transition: top 0.8s ease;
  transition: top 0.8s ease;
}
#compartir.open {
  top: 272px;
  -webkit-transition: top 0.8s ease;
  -o-transition: top 0.8s ease;
  transition: top 0.8s ease;
}
#compartir .share-buttons {
  margin: 0;
  padding: 0;
  display: inline-block;
}
#compartir .share-buttons li {
  margin: 0 0 15px 0;
  display: inline-block;
  float: left;
  height: 20px;
}
#compartir .share-buttons li:last-child {
  margin-bottom: 0;
}
