footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  overflow: hidden;
  display: block;
  float: left;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  z-index: 3;
  .transition(bottom 0.8s ease);
  &.hide {
    bottom: -225px;
    .transition(bottom 0.8s ease);
  }
}

.controls {
  padding: 10px 10px;
  color: #000;
}

label {
  font-weight: 300;
  margin: 0 .4em 0 0;
}

button {
  display: inline-block;
  padding: .4em .8em;
  background: #666;
  border: 0;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
}

button.active {
  background: @brand-primary;
  color: #000;
}

button:focus {
  outline: 0 none;
}

button + label {
  margin-left: 1em;
}

.slider-container {
  text-align: left;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
  padding-top: 4px;
  padding-bottom:9px;
  max-height: 160px;
  width: 100%;
  .box-shadow(0 0 50px 0 rgba(0,0,0,0.3));
  .slider-item {
    width: 150px;
    height: 150px;
    max-height: 160px;
    display: none;
    padding: 1px;
    position: relative;
    white-space: normal;

    &.active{
      .caption{
        padding-bottom: 15px;
      }
      .overlay{
        .reset-filter;
        .background-rgba(@brand-primary,.95);
      }
      .titulo{
        font-family: @bold-scout;
        color: @gray-dark;
      }
      .fechas{
        color: @gray-dark;
        display: block;
      }
    }
    .imagen {
      position:relative;
      display:block;
      &:hover{
        .caption{
          padding-bottom: 15px;
        }
        .overlay{
          .reset-filter;
          .background-rgba(@brand-primary,.95);
        }
        .titulo{
          font-family: @bold-scout;
          color: @gray-dark;
        }
        .fechas{
          color: @gray-dark;
          display: block;
        }
      }
      img {
        max-width:100%;
        height:100%;
        max-height:100%;
      }
    }
    .caption{
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      padding: 0 10px 5px;
      .transition(all 0.2s ease);
    }
    .titulo {
      margin-bottom: 5px;
      font-family: @regular-scout;
      font-size: 14px;
      font-weight: normal;
      line-height: 16px;
      color: #fff;
    }
    .fechas {
      display: none;
      margin-bottom: 0;
      font-family: @regular-scout;
      font-weight: normal;
      font-size: 13px;
      line-height: 14px;
      color: #fff;
    }
    .overlay{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      #gradient > .vertical(@start-color: rgba(0,0,0,.2); @end-color: rgba(0,0,0,.9); @start-percent: 20%; @end-percent: 100%);
      .transition(all 0.2s ease);
    }
  }
}
