.snap-close{
  color: #000;
  line-height: 18px;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 7px;
  right: 7px;
  &:hover{
    text-decoration: none;
  }
}

.snap-drawers{
  background-color: #fff;
}

.exposicionThumbnail {
  padding: 25px 15px;
  h2 {
    margin: 0 0 7px 0;
    padding-bottom: 5px;
    font-family: @bold-scout;
    font-size: 22px;
    line-height: 1;
    border-bottom: 3px solid #333333;
  }
  .fecha-lugar {
    margin-bottom: 15px;
    font-family: @thin-scout;
    font-size: 17px;
    line-height: 1.1;
  }
  .img-responsive {
    max-width: 100%;
    margin-bottom: 15px;
  }
  .datos-exposicion{
    margin-bottom: 30px;
  }
  .label {
    font-family: @bold-scout;
  }
  h3 {
    margin: 0 0 10px 0;
    font-family: @thin-scout;
    font-size: 20px;
    line-height: 1;
  }
  .itinerancia{
    padding: 10px;
    border-bottom: 1px solid #ddd;
    &:first-child{
      border-top: 1px solid #ddd;
    }
    &:last-child{
      margin-bottom: 30px;
    }
    &.active {
      background-color: #f0f0f0;
    }
  }
  .itinerancia-nombre{
    margin-bottom: 3px;
    font-family: @regular-scout;
    line-height: 1.2;
  }
  .itinerancia-lugar{
    line-height: 1.3;
    color: @gray-light;
  }
}
