.snap-close{
  color: #000;
  float:right;
  padding-right: 10px;
  line-height: 18px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.snap-drawer-right {
  background-color: @white;
}

.exposicionThumbnail {
  padding: 10px;

  h2 {
    font:400 20px/20px 'PFDinTextPro-Bold', sans-serif;
    margin: 0 0 5px 0;
    border-bottom: 3px solid #333333;
  }

  h3 {
    font: 400 18px/18px 'PFDinTextPro-Bold', sans-serif;
    margin: 15px 0 0 0;
  }

  a {
    color: #9a7f4a;
    text-decoration: none;
  }

  a:hover {
    color:#665431;
    text-decoration: underline;
  }

  .fecha-lugar {
    margin-bottom: 5px;
    font: 400 18px/18px 'PFDinTextPro-Thin',sans-serif;
  }

  .label {
    font-weight: bold;
  }

  .img-responsive {
    max-width: 100%;
  }

  .itinerancia {
    margin-top: 5px;
    padding: 5px;
    &.active {
      background-color: @grayLighter;
      font-weight: bold;
    }
  }
}
