@import 'includes/mixins.less';
@import 'includes/variables.less';

@import 'includes/thumbnails.less';


// Mixin para obtener el rgba de un color de fondo
.background-rgba(@color: @white, @alpha: 1) {
  background: hsla(hue(@color),
              saturation(@color),
              lightness(@color), @alpha);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font: 400 14px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

header {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  overflow: hidden;
  display: block;
  z-index: 1;
}

h1 {
  text-indent: -9999px;
  background: url("../imgs/logo.png") 0 0 no-repeat;
  width: 130px;
  height: 65px;
  margin: 0;
}

@import 'slider.less';
@import 'snap.less';

#compartir {
  position:fixed;
  left:-320px;
  .transition(left 0.8s ease);
  top:200px;
  background-color:@white;
  &.open {
    left: 0;
    .transition(left 0.8s ease);

  }
}

#compartir ul.share-buttons {
  width:380px;
  margin: 0;
  display: inline-block;
}

#compartir ul.share-buttons li {
  margin: 0 0 5px 0;
  display: inline-block;
  float: left;
}
#compartir ul.share-buttons li {
  margin: 0;
}
#compartir ul.share-buttons li.facebook {
  min-width: 120px;
}
