<div>
    <div class="titulo">{{exposicion.titulo}}</div>
    <div class="fechas">{{itinerancia.fechas}}</div>
    <div class="lugar"><a href="{{itinerancia.url}}" target="_blank">{{itinerancia.lugar}}</a></div>
    <a href="#">ver más</a>
</div>
