<article id="node-38165" class="node node-exposicion clearfix">
<div id="cuerpo-ficha" class="content">
    <div class="fecha-lugar">
    <span class="fecha">
      <div class="field field-name-field-exposicion-fecha-libre field-type-text field-label-hidden">
          <div class="field-items">
              <div class="field-item even">28 mayo, 2014 – 5 enero, 2015</div>
          </div>
      </div></span>
        /
        <div class="field field-name-field-exposicion-lugar field-type-text field-label-hidden">
            <div class="field-items">
                <div class="field-item even">Edificio Sabatini, Planta 4</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <div class="sliderContainer fullWidth clearfix">
                <div id="gallery-1" class="royalSlider rsMinW rsHor rsWithBullets" style="height: 433px;">
                    <div class="rsOverflow grab-cursor" style="width: 770px; height: 433px;">
                        <div class="rsContainer"
                             style="-webkit-transition: 0s; transition: 0s; -webkit-transform: translate3d(0px, 0px, 0px);">
                            <div style="left: 0px;" class="rsSlide  rsActiveSlide">
                                <figure>
                                    <img class="rsImg rsMainSlideImage"
                                         data-rsbigimg="http://www.museoreinasofia.es/sites/default/files/exposiciones/fotoslibros_._palabra_e_imagen_2_0.jpg"
                                         src="/sites/default/files/styles/ficha_actividad_exposicion/public/exposiciones/fotoslibros_._palabra_e_imagen_2_0.jpg?itok=eleVInvQ"
                                         alt="Colección Palabra e Imagen, publicada por la editorial Lumen entre 1961 y 1975"
                                         title="Colección Palabra e Imagen, publicada por la editorial Lumen entre 1961 y 1975"
                                         style="width: 770px; height: 433px; margin-left: 0px; margin-top: 0px;">
                                </figure>
                            </div>
                            <div style="left: 778px;" class="rsSlide ">
                                <figure>
                                    <img class="rsImg rsMainSlideImage"
                                         data-rsbigimg="http://www.museoreinasofia.es/sites/default/files/exposiciones/fotoslibros_1_0.jpg"
                                         src="/sites/default/files/styles/ficha_actividad_exposicion/public/exposiciones/fotoslibros_1_0.jpg?itok=dp4o3Rxb"
                                         alt="Vista de sala de la exposición fotos &amp; libros. España 1905-1977, 2014"
                                         title="Vista de sala de la exposición fotos &amp; libros. España 1905-1977, 2014"
                                         style="width: 770px; height: 433px; margin-left: 0px; margin-top: 0px;">
                                </figure>
                            </div>
                            <div style="left: 1556px;" class="rsSlide ">
                                <figure>
                                    <img class="rsImg rsMainSlideImage"
                                         data-rsbigimg="http://www.museoreinasofia.es/sites/default/files/exposiciones/fotoslibros_2_0.jpg"
                                         src="/sites/default/files/styles/ficha_actividad_exposicion/public/exposiciones/fotoslibros_2_0.jpg?itok=I7qX-jI5"
                                         alt="Vista de sala de la exposición fotos &amp; libros. España 1905-1977, 2014"
                                         title="Vista de sala de la exposición fotos &amp; libros. España 1905-1977, 2014"
                                         style="width: 770px; height: 433px; margin-left: 0px; margin-top: 0px;">
                                </figure>
                            </div>
                            <div style="left: 2334px;" class="rsSlide ">
                                <figure>
                                    <img class="rsImg rsMainSlideImage"
                                         data-rsbigimg="http://www.museoreinasofia.es/sites/default/files/exposiciones/fotoslibros_3_0.jpg"
                                         src="/sites/default/files/styles/ficha_actividad_exposicion/public/exposiciones/fotoslibros_3_0.jpg?itok=Xiu-MGn1"
                                         alt="Vista de sala de la exposición fotos &amp; libros. España 1905-1977, 2014"
                                         title="Vista de sala de la exposición fotos &amp; libros. España 1905-1977, 2014"
                                         style="width: 770px; height: 433px; margin-left: 0px; margin-top: 0px;">
                                </figure>
                            </div>
                        </div>
                        <div class="rsFullscreenBtn">
                            <div class="rsFullscreenIcn"></div>
                        </div>
                        <div class="rsArrow rsArrowLeft rsArrowDisabled rsHidden" style="display: block;">
                            <div class="rsArrowIcn"></div>
                        </div>
                        <div class="rsArrow rsArrowRight rsHidden" style="display: block;">
                            <div class="rsArrowIcn"></div>
                        </div>
                    </div>
                    <div class="rsNav rsBullets">
                        <div class="rsNavItem rsBullet rsNavSelected"><span></span></div>
                        <div class="rsNavItem rsBullet"><span></span></div>
                        <div class="rsNavItem rsBullet"><span></span></div>
                        <div class="rsNavItem rsBullet"><span></span></div>
                    </div>
                    <div class="rsGCaption">
                        <figcaption class="rsCaption">Colección <em>Palabra e Imagen</em>, publicada por la editorial
                            Lumen entre 1961 y 1975
                        </figcaption>
                    </div>
                </div>
            </div>
            <div class="field field-name-field-exposicion-texto field-type-text-long field-label-hidden">
                <div class="field-items">
                    <div class="field-item even"><p>La exposición <em>fotos y libros. España 1905-1977</em> propone un
                        recorrido por la historia del fotolibro español, comenzando a principios del siglo XX y
                        finalizando a mediados de los años setenta, con una selección de la colección del Museo Reina
                        Sofía, contextualizados y acompañados de un variado material complementario.</p>

                        <p>Durante mucho tiempo la consideración estética de la fotografía se ha limitado a imágenes
                            individuales, capaces de funcionar de manera semejante a pinturas o grabados, esquema
                            desarrollado igualmente por historiadores y conservadores de museos para formar un canon de
                            ‘obras maestras’ para su estudio y exhibición. Pero este modelo no es el único, y muchos
                            fotógrafos no pueden sintetizar su trabajo en una sola imagen, concibiendo su obra en forma
                            de serie. Los dos modelos generan dos historias de la fotografía coherentes: una compuesta
                            por fotos para colgar en las paredes, con un número limitado de copias, a la venta en
                            galerías de arte; otra en forma de libros, con posible reedición, disponibles en librerías.
                            La mayoría de los fotógrafos prefieren esta última opción: “los cuadros en las paredes y las
                            fotos en los libros” (Cartier-Bresson).<br><br>Un fotolibro es una publicación compuesta por
                            fotografías ordenadas como conjuntos de imágenes con argumentos y significados complejos. Es
                            el medio utilizado por algunos de los principales fotógrafos para producir sus mejores
                            obras, un modelo de eficacia comprobada para presentar, comunicar y leer fotos. Los
                            fotolibros son cada vez más reconocidos como el mejor medio para presentar conjuntos
                            fotográficos. <br><br>En el caso español, la historia de los fotolibros está determinada por
                            los avatares de la propia historia nacional, como la Guerra Civil y la transición
                            democrática, temas de algunos de los mejores trabajos. Además de la propaganda, también son
                            asuntos destacados los cambios en la imagen y el papel social de los campesinos y, sobre
                            todo, de la mujer. La relación entre literatura y fotografía es otra característica de los
                            fotolibros españoles, entre los que hay asimismo obras más cercanas a la historia
                            internacional de los fotolibros, como las publicaciones de temática urbana. <br><br>El
                            estudio de los fotolibros está provocando una relectura de la historia de la fotografía en
                            diversos países. Algo que también está ocurriendo en el caso español. Junto a fotógrafos
                            conocidos (tales como José Ortiz Echagüe, Alfonso, Francesc Català-Roca, Ramón Masats,
                            Xavier Miserachs, Francisco Ontañón o Colita), la exposición muestra un buen número de
                            autores de primera fila poco menos que inéditos, a pesar de haber publicado en su momento
                            espléndidos conjuntos fotográficos; es el caso de fotógrafos como Antonio Cánovas, la obra
                            colectiva de Misiones Pedagógicas, José Compte, Enrique Palazuelo, Luis Acosta Moro o
                            Salvador Costa.<br><br>Comisariada por Horacio Fernández, la exposición <em>fotos &amp;
                                libros. España 1905-1977</em> ha contado con la colaboración de Acción Cultural Española
                            (AC/E) para presentar una parte de la línea de investigación y adquisición desarrollada por
                            el Museo Reina Sofía en torno a los fotolibros. La muestra,&nbsp;que coincide con la
                            celebración de PHE2014, se completa con la publicación de un catálogo razonado, coeditado
                            por el Museo Reina Sofía, AC/E y RM.</p></div>
                </div>
            </div>
        </div>
        <div class="span4">
            <div id="cuerpo-ficha-lateral">
                <h2 class="accesorio">Datos de la exposición</h2>

                <div class="field field-name-field-exposicion-organizacion field-type-text field-label-inline clearfix">
                    <div class="field-label">Organización:&nbsp;</div>
                    <div class="field-items">
                        <div class="field-item even">Museo Nacional Centro de Arte Reina Sofía y Acción Cultural
                            Española (AC/E)
                        </div>
                    </div>
                </div>
                <div class="field field-name-field-exposicion-comisariado field-type-text field-label-inline clearfix">
                    <div class="field-label">Comisariado:&nbsp;</div>
                    <div class="field-items">
                        <div class="field-item even">Horacio Fernández</div>
                    </div>
                </div>
                <div class="field field-label-inline">
                    <div class="field-label">Artistas</div>
                    <div class="field-items"><a href="/coleccion/autor/catala-roca-francesc">Francesc Català-Roca</a>,
                        <a href="/coleccion/autor/colita-steva-hernandez-isabel">Colita (Isabel Steva Hernández)</a>, <a
                                href="/coleccion/autor/colom-joan">Joan Colom</a>, Salvador Costa, <a
                                href="/coleccion/autor/masats-ramon">Ramón Masats</a>, <a
                                href="/coleccion/autor/miserachs-xavier">Xavier Miserachs</a>, <span id="mas-autores"><a
                                href="/coleccion/autor/ontanon-francisco">Francisco Ontañón</a>, <a
                                href="/coleccion/autor/ortiz-echague-puertas-jose">José Ortiz Echagüe Puertas</a>, Leopoldo Pomés, <a
                                href="/coleccion/autor/sanchez-portela-alfonso">Alfonso Sánchez Portela</a></span> <a
                                id="lnk-mas-autores" class="lnk-mas-autores-processed">Ver más</a></div>
                </div>
                <div class="field field-name-field-exposicion-folletos field-type-file field-label-above">
                    <div class="field-label">Folletos</div>
                    <div class="field-items">
                        <div class="field-item even"><span class="file"><img alt="" class="file-icon"
                                                                             src="/sites/all/themes/mrs_twitter_bootstrap/images/iconos/application-pdf.png"
                                                                             title="application/pdf"> <a
                                href="http://www.museoreinasofia.es/sites/default/files/exposiciones/folletos/fotos-libros-es.pdf"
                                type="application/pdf; length=1170446" title="fotos-libros-es.pdf">Folleto de <em>fotos
                            &amp; libros</em></a></span></div>
                    </div>
                </div>
            </div>
            <div id="relacionados-compartir">
                <div id="menu-relacionados">
                    <p class="titulo-bloque">Relacionados</p>
                    <ul>
                        <li><a href="#exposiciones_relacionadas">Exposiciones relacionadas</a></li>
                        <li><a href="#actividades_relacionadas">Actividades relacionadas</a></li>
                        <li><a href="#visitas_guiadas_relacionados">Visitas comentadas relacionadas</a></li>
                        <li><a href="#obras_relacionadas">Obras de la Colección incluidas en la exposición</a></li>
                        <li><a href="#videos_relacionados">Vídeos relacionados</a></li>
                        <li><a href="#pub_relacionados">Publicaciones del Museo Reina Sofía</a></li>
                    </ul>
                </div>

                <div id="compartir">
                    <p>Compartir</p>
                    <ul class="share-buttons">
                        <li class="facebook">
                            <div class="fb-like fb_iframe_widget"
                                 data-href="http://www.museoreinasofia.es/exposiciones/fotos-libros-espana-1905-1977"
                                 data-layout="button_count" data-action="like" data-show-faces="false"
                                 data-share="false" fb-xfbml-state="rendered"
                                 fb-iframe-plugin-query="action=like&amp;app_id=217784608394488&amp;href=http%3A%2F%2Fwww.museoreinasofia.es%2Fexposiciones%2Ffotos-libros-espana-1905-1977&amp;layout=button_count&amp;locale=es_ES&amp;sdk=joey&amp;share=false&amp;show_faces=false">
                                <span style="vertical-align: bottom; width: 105px; height: 20px;"><iframe
                                        name="f343c1cf04" width="1000px" height="1000px" frameborder="0"
                                        allowtransparency="true" scrolling="no" title="fb:like Facebook Social Plugin"
                                        src="http://www.facebook.com/plugins/like.php?action=like&amp;app_id=217784608394488&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FFX-Xf5fQjUk.js%3Fversion%3D41%23cb%3Df23befc71%26domain%3Dwww.museoreinasofia.es%26origin%3Dhttp%253A%252F%252Fwww.museoreinasofia.es%252Ff30e9ceb38%26relation%3Dparent.parent&amp;href=http%3A%2F%2Fwww.museoreinasofia.es%2Fexposiciones%2Ffotos-libros-espana-1905-1977&amp;layout=button_count&amp;locale=es_ES&amp;sdk=joey&amp;share=false&amp;show_faces=false"
                                        style="border: none; visibility: visible; width: 105px; height: 20px;"
                                        class=""></iframe></span></div>
                        </li>
                        <li class="twitter">
                            <iframe width="90px" scrolling="no" height="21px" frameborder="0"
                                    src="http://platform.twitter.com/widgets/tweet_button.html?url=http://www.museoreinasofia.es/exposiciones/fotos-libros-espana-1905-1977&amp;via=museoreinasofia&amp;text=fotos &amp; libros. España 1905-1977&amp;count=horizontal"
                                    role="presentation" allowtransparency="true" class="twitter-share-button"
                                    name="tweet_frame" id="tweet_frame"></iframe>
                        </li>
                        <li class="googleplus">
                            <div id="___plusone_0"
                                 style="text-indent: 0px; margin: 0px; padding: 0px; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 90px; height: 20px; background: transparent;">
                                <iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no"
                                        style="position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;"
                                        tabindex="0" vspace="0" width="100%" id="I0_1408441944264"
                                        name="I0_1408441944264"
                                        src="https://apis.google.com/u/0/se/0/_/+1/fastbutton?usegapi=1&amp;size=medium&amp;hl=es&amp;origin=http%3A%2F%2Fwww.museoreinasofia.es&amp;url=http%3A%2F%2Fwww.museoreinasofia.es%2Fexposiciones%2Ffotos-libros-espana-1905-1977&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.es.ThCCh2ON29s.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Ft%3Dzcms%2Frs%3DAItRSTN5lg1KaHzIkeKbU5wFkI_0Ajn9dA#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I0_1408441944264&amp;parent=http%3A%2F%2Fwww.museoreinasofia.es&amp;pfname=&amp;rpctoken=27078324"
                                        data-gapiattached="true" title="+1"></iframe>
                            </div>
                            <script type="text/javascript">
                                window.___gcfg = {lang: 'es'};

                                (function () {
                                    var po = document.createElement('script');
                                    po.type = 'text/javascript';
                                    po.async = true;
                                    po.src = 'https://apis.google.com/js/plusone.js';
                                    var s = document.getElementsByTagName('script')[0];
                                    s.parentNode.insertBefore(po, s);
                                })();
                            </script>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="faldon-relacionados">
<ul class="thumbnails">
<li class="thumbnail span3">
    <div id="exposiciones_relacionadas" class="bloque"><h3 class="titulo-bloque">Exposiciones relacionadas</h3>

        <div class="view view-contenidos-relacionados-solr view-id-contenidos_relacionados_solr view-display-id-block_2 view-dom-id-cd379ff8f4ab8e577eacbba76fc4f667">


            <div class="view-content">
                <ul class="thumbnails">
                    <li class="views-row views-row-1 views-row-odd views-row-first views-row-last thumbnail span3">
                        <div>        <span><div id="node-36275" class="thumbnail exposicion node node-exposicion">
                            <a class="imagen" href="/exposiciones/libros-que-son-fotos-fotos-que-son-libros">
   <span class="area-imagen">
	   <img src="/sites/default/files/styles/banner_grid_4x3/public/exposiciones/-11.jpg?itok=uOyt9Hb4"
            alt="Libros que son fotos, fotos que son libros"
            title="Libros que son fotos, fotos que son libros">    </span>
                            </a>

                            <div class="caption">
                                <div class="fecha">
                                    <div class="field field-name-field-exposicion-fecha-libre field-type-text field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item even">17 diciembre, 2013 – septiembre, 2014</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="titulo">
                                    <h3 class="titulo">
                                        <a href="/exposiciones/libros-que-son-fotos-fotos-que-son-libros">
                                            <span class="titulo">Libros que son fotos, fotos que son libros</span> </a>
                                    </h3>
                                </div>


                                <div class="programa">
                                    Programa: Biblioteca y Centro de Documentación
                                </div>
                                <span class="tipo">Biblioteca y centro de documentación</span>
                            </div>
                        </div></span></div>
                    </li>
                </ul>
            </div>


        </div>
    </div>
</li>
<li class="thumbnail span3">
    <div id="actividades_relacionadas" class="bloque"><h3 class="titulo-bloque">Actividades relacionadas</h3>

        <div class="view view-contenidos-relacionados-solr view-id-contenidos_relacionados_solr view-display-id-block_3 view-dom-id-4721968c66945449267f160922827fc4">


            <div class="view-content">
                <ul class="thumbnails">
                    <li class="views-row views-row-1 views-row-odd views-row-first views-row-last thumbnail span3">
                        <div>        <span><div id="node-40159" class="thumbnail actividad node node-actividad">
                            <a class="imagen" href="/actividades/fotos-libros-visita-comentada">
  	<span class="area-imagen">
   <img src="/sites/default/files/styles/banner_grid_4x3/public/actividad/listado/entradilla_libros.jpg?itok=tGqUf1BX"
        alt="	Vista de sala de la exposición fotos &amp; libros. España 1905-1977, 2014 "
        title="	Vista de sala de la exposición fotos &amp; libros. España 1905-1977, 2014 ">	</span>
                            </a>

                            <div class="caption">
                                <div class="fecha">

                                    8 noviembre 2014 a las 17:00 h y 10 diciembre 2014 a las 19:15 h
                                </div>

                                <div class="titulo">
                                    <h3 class="titulo"><a href="/actividades/fotos-libros-visita-comentada">fotos &amp;
                                        libros. Visita comentada</a></h3>
                                </div>
                                <span class="tipo">Accesibilidad</span>
                                <span class="tipo">Personas sordas</span>

               <span class="tipo">
            Educación          </span>
                  <span class="tipo">
            Visita comentada          </span>

                            </div>
                        </div>
</span></div>
                    </li>
                </ul>
            </div>


        </div>
    </div>
</li>
<li class="thumbnail span3">
    <div id="visitas_guiadas_relacionados" class="bloque"><h3 class="titulo-bloque">Visitas comentadas relacionadas</h3>

        <div class="view view-contenidos-relacionados-solr view-id-contenidos_relacionados_solr view-display-id-block_4 view-dom-id-339991cf3e76510f8114913cc874896d">


            <div class="view-content">
                <ul class="thumbnails">
                    <li class="views-row views-row-1 views-row-odd views-row-first views-row-last thumbnail span3">
                        <div>        <span><div id="node-39805"
                                                class="thumbnail visita-guiada node node-visita-guiada visita_guiada_with_pic">
                            <span class="imagen"> <span class="area-imagen"> <img
                                    src="/sites/default/files/styles/banner_grid_4x3/public/visita-guiada/entradilla_libros.jpg?itok=-9ZJuVvp"
                                    alt="Vista de sala de la exposición fotos &amp; libros. España 1905-1977, 2014"
                                    title="Vista de sala de la exposición fotos &amp; libros. España 1905-1977, 2014"> </span> </span>

                            <div class="caption">


                                2 julio - 27 diciembre, 2014

                                <div class="titulo">
                                    <h3 class="titulo"><a
                                            href="/visita/tipos-visita/visita-comentada/proposito-fotos-libros"> fotos
                                        &amp; libros </a></h3>
                                    <h4>
                                        Adultos </h4>
                                </div>
                            </div>
                        </div>
</span></div>
                    </li>
                </ul>
            </div>


        </div>
    </div>
</li>
<li class="thumbnail span6 limpiar">
    <div id="obras_relacionadas" class="bloque"><h3 class="titulo-bloque">Obras de la Colección incluidas en la
        exposición <a href="/buscar?bundle=obra&amp;related=38165" class="ver_mas"
                      title="Ver todos los elementos relacionados"><i class="icon-chevron-right icon-white"></i></a>
    </h3>

        <div class="view view-contenidos-relacionados-solr view-id-contenidos_relacionados_solr view-display-id-block_5 view-dom-id-f9f2d214bcefc72e6ed769a9a555a9b9">


            <div class="view-content">
                <ul class="thumbnails">
                    <li class="views-row views-row-1 views-row-odd views-row-first thumbnail span3">
                        <div>        <span><article id="node-6483" class="thumbnail obra">
                            <a class="imagen" href="/coleccion/obra/st-152">
    	<span class="area-imagen">
			<img src="/sites/default/files/styles/thumbnail/public/obras/AD06167.jpg?itok=E89zhVf6" alt="S/T"
                 title="Miserachs, Xavier: S/T">        </span>
                            </a>

                            <div class="caption">
                                <h3 class="titulo"><a href="/coleccion/obra/st-152">
                                    <span class="autor">Xavier Miserachs</span>
                                    <span class="titulo-obra">S/T</span>
                                </a></h3>

                                <div class="field field-name-field-obra-datacion-texto field-type-text field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even">1965 (ca.) / Copia de época</div>
                                    </div>
                                </div>

                                <img class="obra-con-comentario"
                                     src="/sites/all/themes/mrs_twitter_bootstrap/images/ico.comentario.png"
                                     alt="Obra con descripción" data-original-title="Obra con descripción">
                            </div>
                        </article></span></div>
                    </li>
                    <li class="views-row views-row-2 views-row-even views-row-last thumbnail span3">
                        <div>        <span><article id="node-6487" class="thumbnail obra">
                            <a class="imagen" href="/coleccion/obra/st-156">
    	<span class="area-imagen">
			<img src="/sites/default/files/styles/thumbnail/public/obras/AD06171.jpg?itok=WWlXkLOX" alt="S/T"
                 title="Miserachs, Xavier: S/T">        </span>
                            </a>

                            <div class="caption">
                                <h3 class="titulo"><a href="/coleccion/obra/st-156">
                                    <span class="autor">Xavier Miserachs</span>
                                    <span class="titulo-obra">S/T</span>
                                </a></h3>

                                <div class="field field-name-field-obra-datacion-texto field-type-text field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even">1965 (ca.) / Copia de época</div>
                                    </div>
                                </div>

                                <img class="obra-con-comentario"
                                     src="/sites/all/themes/mrs_twitter_bootstrap/images/ico.comentario.png"
                                     alt="Obra con descripción" data-original-title="Obra con descripción">
                            </div>
                        </article></span></div>
                    </li>
                </ul>
            </div>


        </div>
    </div>
</li>
<li class="thumbnail span3">
    <div id="videos_relacionados" class="bloque"><h3 class="titulo-bloque">Vídeos relacionados</h3>

        <div class="view view-contenidos-relacionados-solr view-id-contenidos_relacionados_solr view-display-id-block view-dom-id-5fe82ad0e6a7583ce5ce6010ed19a90c">


            <div class="view-content">
                <ul class="thumbnails">
                    <li class="views-row views-row-1 views-row-odd views-row-first views-row-last thumbnail span3">
                        <div>        <span><article id="node-39433" class="thumbnail video">
                            <div class="field field-name-field-video-video field-type-text-long field-label-hidden">
                                <iframe src="http://player.vimeo.com/video/97207734" webkitallowfullscreen=""
                                        mozallowfullscreen="" allowfullscreen="" frameborder="0" height="100%"
                                        width="100%"></iframe>
                            </div>
                            <div class="caption">
                                <div class="titulo">
                                    <h3 class="titulo"><a
                                            href="/multimedia/fotos-libros-espana-1905-1977-entrevista-horacio-fernandez">fotos
                                        &amp; libros. España 1905-1977. Entrevista con Horacio Fernández</a></h3>
                                </div>
                                <div class="field field-name-field-video-fecha-libre field-type-text field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item even">Mayo 2014</div>
                                    </div>
                                </div>          <span class="tipo">
        Exposiciones      </span>
                            </div>
                        </article></span></div>
                    </li>
                </ul>
            </div>


        </div>
    </div>
</li>
<li class="thumbnail span3">
    <div id="pub_relacionados" class="bloque"><h3 class="titulo-bloque">Publicaciones del Museo Reina Sofía</h3>

        <div class="view view-contenidos-relacionados-solr view-id-contenidos_relacionados_solr view-display-id-block_6 view-dom-id-3d9410cc250956bd7d401de90528a07f">


            <div class="view-content">
                <ul class="thumbnails">
                    <li class="views-row views-row-1 views-row-odd views-row-first views-row-last thumbnail span3">
                        <div>        <span><div id="node-39327"
                                                class="thumbnail publicacion node node-publicacion node-sticky">
                            <a class="imagen" href="/publicaciones/fotos-libros-espana-1905-1977">
  <span class="area-imagen">
          <span class="image_hover">
        <img src="/sites/default/files/styles/banner_grid_4x3/public/publicaciones/libros-fotos-es_0.jpg?itok=1-SwnspS"
             alt="fotos &amp; libros. España 1905-1977" title="fotos &amp; libros. España 1905-1977">      </span>
      </span>
                            </a>

                            <div class="caption">
                                <h3 class="titulo">
                                    <a href="/publicaciones/fotos-libros-espana-1905-1977">
                                        fotos &amp; libros. España 1905-1977 </a>
                                </h3>
                            </div>
                        </div></span></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</li>
</ul>
<div class="row">
    <div class="span12">
        <div id="exposiciones-actuales">
            <h3 class="titulo-bloque">Exposiciones actuales</h3>

            <div class="view view-exposiones-portada view-id-exposiones_portada view-display-id-block_3 view-dom-id-9bfe43a08bdd1d4e1f1ad9e4fdb8436d">


                <div class="view-content">
                    <div class="item-list">
                        <ul class="thumbnails">
                            <li class="views-row views-row-1 views-row-odd views-row-first snippet span3">
                                <div id="node-36675" class="thumbnail exposicion node node-exposicion">
                                    <a class="imagen" href="/exposiciones/richard-hamilton">
   <span class="area-imagen">
	   <img src="/sites/default/files/styles/banner_grid_4x3/public/exposiciones/hamilton_peq_0.jpg?itok=r3EhMNXn"
            alt="Richard Hamilton. Just what is it that makes today’s homes so different, so appealing? [¿Qué es lo que hace que las casas de hoy sean tan diferentes, tan atractivas?], 1956/1992. Collage. 26 x 25 cm. Colección particular. © R. Hamilton. All Rights Reserved, VEGAP, Madrid, 2014"
            title="Richard Hamilton. Just what is it that makes today’s homes so different, so appealing? [¿Qué es lo que hace que las casas de hoy sean tan diferentes, tan atractivas?], 1956/1992. Collage. 26 x 25 cm. Colección particular. © R. Hamilton. All Rights Reserved, VEGAP, Madrid, 2014">    </span>
                                    </a>

                                    <div class="caption">
                                        <div class="fecha">
                                            <div class="field field-name-field-exposicion-fecha-libre field-type-text field-label-hidden">
                                                <div class="field-items">
                                                    <div class="field-item even">27 junio - 13 octubre, 2014</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="titulo">
                                            <h3 class="titulo">
                                                <a href="/exposiciones/richard-hamilton">
                                                    <span class="titulo">Richard Hamilton</span> </a>
                                            </h3>
                                        </div>


                                    </div>
                                </div>
                            </li>
                            <li class="views-row views-row-2 views-row-even snippet span3">
                                <div id="node-34947" class="thumbnail exposicion node node-exposicion">
                                    <a class="imagen" href="/exposiciones/kerry-james-marshall-pintura-otras-cosas">
   <span class="area-imagen">
	   <img src="/sites/default/files/styles/banner_grid_4x3/public/exposiciones/entradilla.jpg?itok=j95ccaEb"
            alt="Kerry Jame Marshall. Lost boys AKA Black Johnny, 1993. Cortesía del artista. Galería Jack Shainman, NY, y Koplin Del Rio, CA"
            title="Kerry Jame Marshall. Lost boys AKA Black Johnny, 1993. Cortesía del artista. Galería Jack Shainman, NY, y Koplin Del Rio, CA">    </span>
                                    </a>

                                    <div class="caption">
                                        <div class="fecha">
                                            <div class="field field-name-field-exposicion-fecha-libre field-type-text field-label-hidden">
                                                <div class="field-items">
                                                    <div class="field-item even">13 junio - 26 octubre, 2014</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="titulo">
                                            <h3 class="titulo">
                                                <a href="/exposiciones/kerry-james-marshall-pintura-otras-cosas">
                                                    <span class="titulo">Kerry James Marshall: pintura y otras cosas </span>
                                                </a>
                                            </h3>
                                        </div>


                                    </div>
                                </div>
                            </li>
                            <li class="views-row views-row-3 views-row-odd snippet span3">
                                <div id="node-36149" class="thumbnail exposicion node node-exposicion">
                                    <a class="imagen" href="/exposiciones/playgrounds">
   <span class="area-imagen">
	   <img src="/sites/default/files/styles/banner_grid_4x3/public/exposiciones/snipet_playgrounds.png?itok=0jtIsIt3"
            alt="Palle Nielsen, Un grupo de activistas de diferentes organizaciones en Dinamarca despejaron un patio trasero en Stengade 52 en el área de Nørrebro en Copenhague el 31 de marzo de 1968 y en su lugar construyeron un parque infantil. Esto se hizo para llamar la atención sobre la falta de terrenos de juego, así como una remodelación general de la zona. © VEGAP, Madrid, 2014 © PETERSEN ERIK / Polfoto"
            title="Palle Nielsen, Un grupo de activistas de diferentes organizaciones en Dinamarca despejaron un patio trasero en Stengade 52 en el área de Nørrebro en Copenhague el 31 de marzo de 1968 y en su lugar construyeron un parque infantil. Esto se hizo para llamar la atención sobre la falta de terrenos de juego, así como una remodelación general de la zona. © VEGAP, Madrid, 2014 © PETERSEN ERIK / Polfoto">    </span>
                                    </a>

                                    <div class="caption">
                                        <div class="fecha">
                                            <div class="field field-name-field-exposicion-fecha-libre field-type-text field-label-hidden">
                                                <div class="field-items">
                                                    <div class="field-item even">30 abril – 22 septiembre, 2014</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="titulo">
                                            <h3 class="titulo">
                                                <a href="/exposiciones/playgrounds">
                                                    <span class="titulo">Playgrounds</span> </a>
                                            </h3>
                                            <h4 class="subtitulo">
                                                Reinventar la plaza </h4>
                                        </div>


                                    </div>
                                </div>
                            </li>
                            <li class="views-row views-row-4 views-row-even snippet span3">
                                <div id="node-36711" class="thumbnail exposicion node node-exposicion">
                                    <a class="imagen" href="/exposiciones/la-casa-estudio-hanne-darboven">
   <span class="area-imagen">
	   <img src="/sites/default/files/styles/banner_grid_4x3/public/exposiciones/portada_53319e0314e88.png?itok=4og8oMap"
            alt="Vista de sala de la exposición El tiempo y las cosas. La casa-estudio de Hanne Darboven, 2014"
            title="Vista de sala de la exposición El tiempo y las cosas. La casa-estudio de Hanne Darboven, 2014">    </span>
                                    </a>

                                    <div class="caption">
                                        <div class="fecha">
                                            <div class="field field-name-field-exposicion-fecha-libre field-type-text field-label-hidden">
                                                <div class="field-items">
                                                    <div class="field-item even">26 marzo – 1 septiembre, 2014</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="titulo">
                                            <h3 class="titulo">
                                                <a href="/exposiciones/la-casa-estudio-hanne-darboven">
                                                    <span class="titulo">El tiempo y las cosas. La casa-estudio de Hanne Darboven </span>
                                                </a>
                                            </h3>
                                        </div>


                                    </div>
                                </div>
                            </li>
                            <li class="limpiar views-row views-row-5 views-row-odd views-row-last snippet span3">
                                <div id="node-35743" class="thumbnail exposicion node node-exposicion">
                                    <a class="imagen" href="/exposiciones/dominique-gonzalez-foerster">
   <span class="area-imagen">
	   <img src="/sites/default/files/styles/banner_grid_4x3/public/exposiciones/splendide-hotel_53319924459ad.jpg?itok=34eIjYo1"
            alt="">    </span>
                                    </a>

                                    <div class="caption">
                                        <div class="fecha">
                                            <div class="field field-name-field-exposicion-fecha-libre field-type-text field-label-hidden">
                                                <div class="field-items">
                                                    <div class="field-item even">13 marzo – 19 octubre, 2014</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="titulo">
                                            <h3 class="titulo">
                                                <a href="/exposiciones/dominique-gonzalez-foerster">
                                                    <span class="titulo">Dominique Gonzalez-Foerster</span> </a>
                                            </h3>
                                            <h4 class="subtitulo">
                                                SPLENDIDE HOTEL </h4>
                                        </div>


                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
</div>
</article>s