<div class="site-descripcion">
	<h2 class="h2">Las itinerancias del Museo Nacional Centro de Arte <br>Reina Sofía</h2>
	<p>Lorem ipsum dolor sit amet, quodsi scriptorem conclusionemque id vim, numquam petentium eu vim. Minim oportere dissentiunt sea ex. Ei volumus verterem mediocrem nec, stet dolores facilisis usu ne, iriure minimum qualisque sit ad. Iriure scaevola usu no. Oratio tacimates per at, est rebum electram sadipscing at. Has dicant appareat temporibus cu, solum detracto ea usu, pri id decore vocent vivendum.</p>
</div>
<div class="compartir">
	<h3 class="h4">Compartir</h3>
	<ul class="share-buttons">
		<li class="facebook">
		<div class="fb-like" data-href="http://www.madridespop.es/itinerancias/dist/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
		</li>
		<li class="twitter">
		<iframe width="90px" scrolling="no" height="21px" frameborder="0"
		src="http://platform.twitter.com/widgets/tweet_button.html?url=http://www.museoreinasofia.es/itinerancias/&amp;via=museoreinasofia&amp;text=Itinerancias&amp;count=horizontal"
		role="presentation" allowtransparency="true" class="twitter-share-button"
		name="tweet_frame" id="tweet_frame"></iframe>
		</li>
		<li class="googleplus">
		<div class="g-plusone" data-size="medium" data-href="http://www.museoreinasofia.es/itinerancias/"></div>
		<script type="text/javascript">
		window.___gcfg = {lang: 'es'};
		(function() {
		var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		po.src = 'https://apis.google.com/js/plusone.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		})();
		</script>
		</li>
	</ul>
</div>
