<div class="controls">
      <label>Filtrar:</label>
      <button class="filter" data-filter="all">Todas</button>
      <button class="filter" data-filter=".y2011">2011</button>
      <button class="filter" data-filter=".y2012">2012</button>
    </div>
<div id="slider-container" class="slider-container thumbnails">
    {{#each this}}
        {{> slider-item}}
    {{/each}}
</div>
