<div class="controls">
      <label>Filtrar:</label>
      <button class="filter" data-filter="all">Todas</button>
      <button class="filter" data-filter=".y2014">2014</button>
      <button class="filter" data-filter=".y2013">2013</button>
      <button class="filter" data-filter=".y2012">2012</button>
      <button class="filter" data-filter=".y2011">2011</button>
      <button class="filter" data-filter=".y2010">2010</button>
      <button class="filter" data-filter=".y2009">2009</button>
      <button class="filter" data-filter=".y2008">2008</button>
      <button class="filter" data-filter=".y2007">2007</button>
      <button class="filter" data-filter=".y2006">2006</button>
      <button class="filter" data-filter=".y2005">2005</button>
      <button class="filter" data-filter=".y2004">2004</button>
      <button class="filter" data-filter=".y2003">2003</button>
      <button class="filter" data-filter=".y2002">2002</button>
      <button class="filter" data-filter=".y2001">2001</button>
      <button class="filter" data-filter=".y2000">2000</button>
      <button class="filter" data-filter=".y1999">1999</button>
      <button class="filter" data-filter=".y1998">1998</button>
      <button class="filter" data-filter=".y1997">1997</button>
      <button class="filter" data-filter=".y1996">1996</button>
      <button class="filter" data-filter=".y1995">1995</button>
      <button class="filter" data-filter=".y1994">1994</button>
      <button class="filter" data-filter=".y1993">1993</button>
      <button class="filter" data-filter=".y1992">1992</button>
      <button class="filter" data-filter=".y1991">1991</button>
    </div>
<div id="slider-container" class="slider-container thumbnails">
    {{#each this}}
        {{> slider-item}}
    {{/each}}
</div>
